# Get your API key here: https://www.twilio.com/console/authy/getting-started
ACCOUNT_SECURITY_API_KEY=your-authy-api-key

# Twilio API credentials
# (find here https://www.twilio.com/console)
TWILIO_ACCOUNT_SID=ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TWILIO_AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Verification Service SID
# (create one here https://www.twilio.com/console/verify/services)
TWILIO_VERIFICATION_SID=VAXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

APP_DEBUG=true
APP_ENV=local
APP_KEY=
APP_LOG=errorlog

SECRET=your-account-secret
